
.bg-light {
	background-color: #c3b5e0 !important;
	
}
.nav-link {
	color:white !important;
}
.navbar-brand{
	color:whitesmoke !important;
}

.footer{
	background-color: #c3b5e0;	
	height: 60px;
	color: white;
	font-size: .8rem;
	text-align: center;
	padding-top: 20px;
}
#animation_container {width: 100% !important;

}
#canvas{
	width: 100% !important;
	
}